body{
	font-family: 'Roboto', sans-serif;
}

.type-1{
	font-family: 'Roboto', sans-serif;
}
.type-2{
	font-family: 'Roboto Slab', serif;
}

.letter-spacing--05{
	letter-spacing: -0.5px;
}
.letter-spacing--1{
	letter-spacing: -1px;
}



$btn-bkg: purple;
.btn {
  display: inline-block;
  padding: 18px;
  background: $btn-bkg;
  color: white;
  &:hover {
    background: darken($btn-bkg, 10%)
  }
}

$color-0: #4A4A4A;

$color-1: #00B7BD;
$color-2: #F8981D;
$color-3: #99CC33;
$color-4: #642667;

.color-0{
	color: $color-0;
}
.color-1{
	color: $color-1;
}
.color-2{
	color: $color-2;
}
.color-3{
	color: $color-3;
}
.color-4{
	color: $color-4;
}

/* links darken */
a.color-0{
	color: $color-0;
	&:hover {
	    color: darken($color-0, 40%)
	}
}
a.color-1{
	color: $color-1;
	&:hover {
	    color: darken($color-1, 10%)
	}
}
a.color-2{
	color: $color-2;
	&:hover {
	    color: darken($color-2, 10%)
	}
}
a.color-3{
	color: $color-3;
	&:hover {
	    color: darken($color-3, 10%)
	}
}
a.color-4{
	color: $color-4;
	&:hover {
	    color: darken($color-4, 10%)
	}
}
/* END links darken */

.font-size-l2{
	font-size: 22px;
}

/* */


.bg-color-b-05 {
    background-color: rgba(0,0,0,0.05);
}

strong{
	font-weight: bold !important;
}

.padding-b-90{
	padding-bottom: 90px;
}

.button-s{
	font-size: 18px;
	text-align: center;
	padding: 10px 30px;
}
.button-l{
	font-size: 24px;
	text-align: center;
	padding: 20px 30px;
}
.button-color-1{
	border:2px solid $color-1;
	color: $color-1;
	&:hover{
		background-color: $color-1;
		color: #fff;
	}
}
.button-color-2{
	border:2px solid $color-2;
	color: $color-2;
	&:hover{
		background-color: $color-2;
		color: #fff;
	}
}
.button-color-2-filled{
	border:2px solid $color-2;
	color: #fff;
	background-color: $color-2;
	&:hover{
		background-color: $color-2;
		color: #fff;
	}
}
.button-color-3{
	border:2px solid $color-3;
	color: $color-3;
	&:hover{
		background-color: $color-3;
		color: #fff;
	}
}
.button-color-0{
	border:2px solid $color-0;
	color: $color-0;
	&:hover{
		background-color: $color-0;
		color: #fff;
	}
}


.box-shadow-b2{
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12);
	&:hover{
		box-shadow: 0 2px 6px 0 rgba(0,0,0,0.40);
	}
}
.tablet-height{
	min-height: 130px;
	max-height: 130px;
}
.tablet-height-s{
	min-height: 70px;
	max-height: 70px;
}


.button-color-bg-1{

}

.center-w-h {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 100%;
    max-height: 100%;
}



//## BOTONES #//
.cbtn, .cinput {
	-webkit-appearance:none;
	-moz-appearance:none;
	border: none;
	outline: 0px !important;
	
	margin: 0;
	padding: 0;
	color: inherit;
	
	font-size: initial;
	touch-action: auto;

	&:active, &:focus {
		outline: 0px !important;
	}
}

.cbtn::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.cbtn-bg-transparent {
	background-color: transparent;
}

.cbtn-primary {
	position: relative;
	background-color: $c-primary;
	color: $c-contrast;
	cursor: pointer;
	&:hover {
		background-color: darken($c-primary,5);
	}
	&:active {
		top:1px;
		background-color: darken($c-primary,10);
	}
}

.form-select {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding-right: 30px;
	display: inline-block;
	background-position: 94% center;
    background-image: url(../img/select.png);
	background-repeat: no-repeat;
	&:hover {
		background-color: rgba($c-primary,.2);
	}
}
.form-control {
	border-color: #47b3f3;
    background-color: #000;
    border-radius: 0;
    color: white;
    padding: 12px 30px 12px 15px;
    height: auto;
}
.height-150 {
	height: 150px;
}
.height-450 {
	height: 450px;
}
.max-w-0100 {
	max-width: 100%;
}
.max-h-0100 {
	max-height: 100%;
}