
//Bootstrap 4:
$size-xs : 0px;
$size-sm : 576px;
$size-md : 768px;
$size-lg : 992px;
$size-xl : 1200px;

@mixin modular-mq($breakpoint) {
    @if $breakpoint == xs {
      @media screen and ( min-width:$size-xs ) {@content;}
    }
    @else { @if $breakpoint == sm {
      @media screen and ( min-width:$size-sm ) {@content;}
    }
    @else { @if $breakpoint == md {
      @media screen and ( min-width:$size-md ) {@content;}
    }
    @else { @if $breakpoint == lg {
      @media screen and ( min-width:$size-lg ) {@content;}
    }
    @else { @if $breakpoint == xl {
      @media screen and ( min-width:$size-xl ) {@content;}
    }}}}}
}

@mixin modular-maxq($breakpoint) {
    @if $breakpoint == xs {
      @media screen and ( max-width:$size-xs ) {@content;}
    }
    @else { @if $breakpoint == sm {
      @media screen and ( max-width:$size-sm ) {@content;}
    }
    @else { @if $breakpoint == md {
      @media screen and ( max-width:$size-md ) {@content;}
    }
    @else { @if $breakpoint == lg {
      @media screen and ( max-width:$size-lg) {@content;}
    }
    @else { @if $breakpoint == xl {
      @media screen and ( max-width:$size-xl) {@content;}
    }}}}}
}

$height-xxs : 320px;
$height-xs : 460px;
$height-sm : 520px;
$height-md : 620px;
$height-lg : 720px;

@mixin modular-hq($breakpoint) {
    @if $breakpoint == xxs {
      @media screen and ( min-height:$height-xxs ) {@content;}
    }
    @else { @if $breakpoint == xs {
      @media screen and ( min-height:$height-xs ) {@content;}
    }
    @else { @if $breakpoint == sm {
      @media screen and ( min-height:$height-sm ) {@content;}
    }
    @else { @if $breakpoint == md {
      @media screen and ( min-height:$height-md) {@content;}
    }
    @else { @if $breakpoint == lg {
      @media screen and ( min-height:$height-lg) {@content;}
    }}}}}
}
/* ************* END MEDIAQUERIES *************** */




/* ************* FONTS *************** */
$factor:1;
$font-size: 18px;
$factor-lh:1.4;

$typo-1: 'Helvetica Neue', sans-serif;
$typo-2: 'Open Sans Condensed', sans-serif;
/* ************* END FONTS *************** */


/* ************* COLORS *************** */
//font color
$c-font:#4A4A4A;
$c-primary:#47B3F3;
$c-secondary:#0078BC;
$c-black:#000;
$c-contrast:#fff;